@font-face {
	font-family: "TradeGothicNextLTPro";
	src: url("/fonts/TradeGothicNextLTPro-Rg.otf");
}

@font-face {
	font-family: "TradeGothicNextLTPro-Bold";
	src: url("/fonts/TradeGothicNextLTPro-Bd.otf");
}

html {
	font-family: 'TradeGothicNextLTPro';
}

h1 {
	font-size: 23px;
	font-family: "TradeGothicNextLTPro-Bold";
	text-transform: uppercase;
}

h2 {
	display: inline-block;
	margin: 0 0 10px 0;
	line-height: .5em;
}

h3 {
	color: #fafafa;
	font-family: "TradeGothicNextLTPro-Bold";
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 8px;
}

html, body {
	margin: 0;
	padding: 0;
	color: #333;
}

a {
	text-decoration: none;
}

.holy-grail {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

ul, li {
	list-style-type: none;
}

header {
	flex: 0 0 100%;
	padding: 20px;
	background-color: #fafafa;
	border-bottom: #e0e0e0;
	border-bottom-width: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: left;
	font-size: 30px;
	font-weight: 900;
}

header label {
	text-transform: uppercase;
	font-family: "TradeGothicNextLTPro-Bold";
}

header .info {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	float: right;
}

header ul {
	margin: 0;
	padding-left: 20px;
}

header li {
	text-align: left;
	font-size: 15px;
	margin-right: 20px;
	font-weight: 900;
}

.body {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	height: calc(100vh - 78px);
}

.sidebar-first {
	order: 1;
	padding: 0 12px 0 12px;
	background-color: #20457C;
	height: 100%;
	overflow-y: hidden;
	min-width: 140px;
}

.sidebar-first li {
	padding: 5px 40px 5px 8px;
	color: #e8e8e8;
}

.sidebar-first h1 {
	margin-left: 10px;
	color: #e8e8e8;
}

.content {
	order: 2;
	padding:  0 12px 0 12px;
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	background-color: #fafafa;
	overflow-y: scroll;
}

.content h1 {
	margin-left: 20px;
}

.content ul {
	-webkit-padding-start: 0px;
	margin: 20px 20px 35px 20px;
}

.content ul li label {
	display: inline-block;
}

.content ul li a {
	color: rgba(0,0,0,0.9);
	padding: 5px 8px 5px 0px;
}

.content ul li a:hover {
	color: #468c54;
}

.content ul li strong {
	float: right;
}

.content ul li p {
	color: #4d4d4d;
}

.project {
	padding-top: 30px;
}

.position {
	font-size: 16px;
	color: #888;
}

.title {
	font-weight: bold;
	font-size: 20px;
}

.dialect li{
	border-style: solid;
	border-color: #20457C;
	color: rgba(0,0,0,0.9);
	padding: 3px 8px 3px 8px;
	margin: 8px 20px 0px 0px;
	border-radius: 3px;
	border-width: 1px;
	display: inline-block;
}
