body{
    background-color: rgb(72,72,72);
    margin: 0 10px;
}

header h1 {
  color: #A4A4A4;
  font-family: Impact, Charcoal, sans-serif;
  font-size: rem-calc(20);
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  header-text-rendering: optimizeLegibility;
  small-font-size: 60%;
  
}



nav #navigation {
  list-style-type: none;
  text-align: center;
}

nav #navigation li {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;
}

nav #navigation li a {
  color: #333;
  display: inline-block;
  font-weight: bold;
  padding: 5px 0;
  width: 100%;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  nav #navigation li {
    transition: linear 0.3s;
  }

  nav #navigation li:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

#linkedin {
	background: url('../img/linkedin.png') 90% center no-repeat;
	background-size: 10%;
}

#github {
	background: url('../img/github.png') 90% center no-repeat;
	background-size: 10%;
}

#resume {
	background: url('../img/resume.png') 90% center no-repeat;
	background-size: 10%;
}

/* Info boxes */

.info-box {
  border-radius: 10px;
  box-shadow: 0 0 8px #111;
}

.info-box header {
  border-radius: 5px 5px 0 0;
  height: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
  color: #A4A4A4
}

.text {
  background: #F0F0F0;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  margin-bottom: 0;
}

#aboutme{
	background: #D21035 url('../img/rutgers.png') center no-repeat;
  	background-size: 75%;
}

#iBoxServices{
	background: #FFF url('../img/iBox.png') center no-repeat;
	background-size: 105%;
}

#ADP{
	background: #FFF url('../img/ADP.png') center no-repeat;
	background-size: 75%;
}

#github_banner{
	background: #FFF url('../img/github_banner.png') center no-repeat;
	background-size: 100%;
}

